pre code.hljs {
        display: block;
        overflow-x: auto;
        padding: 1em;
}
code.hljs {
        padding: 3px 5px;
}
.hljs {
        background: #23241f;
        color: #f8f8f2;
}

/* Comments */
.hljs-comment {
        color: #6a9955;
}

/* Line numbers */
.hljs-linenumber {
        color: #6e7681;
}

/* Numbers */
.hljs-number {
        color: #ddbc7a;
}

/* Keywords */
.hljs-keyword {
        color: #569cd6;
}

/* Bold keywords */
.hljs-keyword_bold {
        color: #569cd6;
        font-weight: bold;
}

/* Operators */
.hljs-operator {
        color: #b16262;
}

/* Strings */
.hljs-string {
        color: #ce9178;
}

/* Types */
.hljs-type {
        color: #4ec9b0;
}

/* Functions */
.hljs-function {
        color: #dcdcaa;
}

/* Variables */
.hljs-variable {
        color: #9cdcfe;
}

/* Controls */
.hljs-control {
        color: #c586c0;
}

/* Axis */
.hljs-axis {
        color: #ce9178;
}

/* Other */
.hljs-other {
        color: #7f4bbb;
}
